*{
    padding: 0;
    margin: 0;
  }
  /* Header*/
  
  .tamanhoLogo{
    width: 246px;
    height: 105px;
  }
  .tamanhoIcons{
    width: 20px;
    height: 22px;
  }
  .conteinner1{
    margin: 0 200px;
    display: flex;
    justify-content: space-evenly;
  }
  #subContainner2{
    display: flex;
    align-items: center;
  }
  #subContainner2 form input{
    height: 40px;
    padding-left: 15px;
    width: 432px;
    border-radius: 5px;
    border: 1px solid #A8A8A8;
  }
  
  #subContainner3{
    display: flex;
    align-items: center;
    width: 526px;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 14px;
  }
  
  #subContainner3 nav{
    width: 526px;
    display: flex;
    justify-content: space-between;
  }
  
  #subContainner3 nav a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #436BBB;
  }
  #subContainner3 nav a img{
    margin-right: 12px;
    margin-left: 12px;
  }
  #search{
    margin-top: 9px;
    position: absolute;
    margin-left: -34px;
  }
  #containner2{
    background-color: #F55145;
  }
  #containner2 ul{
    display: flex;
    justify-content: space-evenly;
    margin: 0 200px;
    height: 52px;
    list-style: none;
    align-items: center;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 14px;
  }
  #containner2 ul a{
    text-decoration: none;
    color: #FFFFFF;
  }
  #categorias{
    width: 198px;
    height: 34px;
    border-radius: 10px;
  }

  #dtls-produto{
    margin-top: 20px;
  }
  #dtls-produto ul{
    display: flex;
    margin-left: 230px;
  }
  #dtls-produto ul li{
    margin: 10px 0px;
    list-style: none;
  }
  #dtls-produto ul li a{
    text-decoration: none;
    color: #474747;
  }
  #dtls-produto ul li a:hover{
    text-decoration: underline;
  }
  #dtls-produto ul li a::after{
    content: ">";
    margin: 0 15px;
    font-size: 14px;
    color: #000;
  }
  /* Header*/

  /* Main */

  #container-infoProduto{
    margin: 0 140px;
    display: flex;
    justify-content: center;
    margin-bottom: 50%;
    margin-top: 50px;
  }
  #img-produto{
    margin-left: 130px;
  }
  #img-produto img{
    border: solid 1px #d1d0d0;
    padding: 10px 20px;
    width: 380px;
    height: 380px;

  }
  #info-produto{
    font-family: 'Open Sans', 'sans-serif';
    padding-left: 100px;
  }
  .title-produto{
    margin-bottom: 15px;
  }
  .info-preco{
    margin: 24px 0px;
    color: rgb(192, 0, 0);
  }
  #description-produto{
    font-size: 15px;
    margin: 20px 0px;
    padding-left: 20px;
    color: #3d3d3d;
  }
  .btn-adcCarrinho{
    cursor: pointer;
    width: 100%;
    height: 45px;
    padding: 10px 0px;
    border: none;
    border-radius: 4px;
    background-color: green;
    color: #fff;
  }
  
  /* /Main */

/* footer*/
footer{
    display: flex;
    justify-content: space-around;
    bottom: 0;
  
    width: 100%;
    border-top: 2px solid #747474;
    padding-top: 20px;
  }
  .colorBlue{
    color: #003471;
    font-family: 'Inter', 'sans-serif';
    font-weight: 700;
    margin: 0;
    font-size: 20px
  }
  .colorRed{
    color:#F55145;
    font-family: 'Inter', 'sans-serif';
    font-weight: 400;
    margin: 10px 0 0 0;
    font-size: 20px
  }
  
  .colorRed > h2{
    font-family: 'Inter', 'sans-serif';
    font-weight: 900;
    margin: 0;
  }
  
  #thinBlue{
    font-weight: 400;
    margin: 0 0 10px 0;
  }
  
  #mediumBlue{
    font-weight: 700;
    margin: 10px 0 10px 0;
    font-size: 20px;
  }
  .imgFooter{
    width: 500px;
    margin: 0;
  }
  /* footer*/