
.pagamento{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qrcode{
  width:18% ; 
}

.opcaoPag{
  display: flex;
  flex-direction: column;
  margin-top: 25px
;
}
.opcaoPag a{
  margin: 25px;
    text-align: center;
    text-decoration: none;
    background: #00376b;
    color: #ffff;
    width: 321px;
    height: 41px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}