*{
    padding: 0;
    margin: 0;
  }
  /* Header*/
  
  .tamanhoLogo{
    width: 246px;
    height: 105px;
  }
  .tamanhoIcons{
    width: 20px;
    height: 22px;
  }
  .conteinner1{
    margin: 0 200px;
    display: flex;
    justify-content: space-evenly;
  }
  #subContainner2{
    display: flex;
    align-items: center;
  }
  #subContainner2 form input{
    height: 40px;
    padding-left: 15px;
    width: 432px;
    border-radius: 5px;
    border: 1px solid #A8A8A8;
  }
  
  #subContainner3{
    display: flex;
    align-items: center;
    width: 526px;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 14px;
  }
  
  #subContainner3 nav{
    width: 526px;
    display: flex;
    justify-content: space-between;
  }
  
  #subContainner3 nav a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #436BBB;
  }
  #subContainner3 nav a img{
    margin-right: 12px;
    margin-left: 12px;
  }
  #search{
    margin-top: 9px;
    position: absolute;
    margin-left: -34px;
  }
  #containner2{
    background-color: #F55145;
  }
  #containner2 ul{
    display: flex;
    justify-content: space-evenly;
    margin: 0 200px;
    height: 52px;
    list-style: none;
    align-items: center;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 14px;
  }
  #containner2 ul a{
    text-decoration: none;
    color: #FFFFFF;
  }
  #categorias{
    width: 198px;
    height: 34px;
    border-radius: 10px;
  }
  /* Header*/
  
  /* Main */
  main{
    margin: 0 94px;
    
  }
  #categoria{
    margin-top: 40px;
    margin-bottom: 30px;
  }
  #categoria h1{
    margin-bottom: 20px;
    color: #523f3f;
  }
  
  #posVendidos{
    background-color: black;
    top: 94%;
    right: 128px;
    width: 30px;
  }
  
  .title{
    margin-left: 97px;
    font-size: 25pt;
    font-weight: 100;
  }
  .produtosVendidos{
    display: flex;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
  }
  .produtosVendidos div a{
    text-decoration: none;
  }
  .produtosVendidos div a h3:hover{
    text-decoration: underline;
  }
  .produtosVendidos div{
    width: 220px;
    height: auto;
    border-radius: 4px;
    box-shadow: 0px 3px 7px 1px rgb(184, 184, 184);
    margin: 59px;
    margin-top: 0;
  }
  .produtosVendidos div:hover{
    border: 1px solid rgba(167, 166, 166, 0.591);
    border-radius: 5px;
  }
  .produtosVendidos div a img{
    margin: auto;
    display: flex;
    height: 160px;
    width: 100px;
  }
  .produtosVendidos div h2,h3{
    margin: 20px;
    color: #000;
  }
  
  .botaoCarrinho{
    margin: auto;
    height: 40px;
    width: 90%;
    background-color: rgb(199, 7, 7);
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 17px;
    margin-top: 13px;
    color: white;
    font-size: 15px;
  }
  /* Main */
  
  /* footer*/
  footer{
    display: flex;
    justify-content: space-around;
    bottom: 0;
  
    width: 100%;
    border-top: 2px solid #747474;
    padding-top: 20px;
  }
  .colorBlue{
    color: #003471;
    font-family: 'Inter', 'sans-serif';
    font-weight: 700;
    margin: 0;
    font-size: 20px
  }
  .colorRed{
    color:#F55145;
    font-family: 'Inter', 'sans-serif';
    font-weight: 400;
    margin: 10px 0 0 0;
    font-size: 20px
  }
  
  .colorRed > h2{
    font-family: 'Inter', 'sans-serif';
    font-weight: 900;
    margin: 0;
  }
  
  #thinBlue{
    font-weight: 400;
    margin: 0 0 10px 0;
  }
  
  #mediumBlue{
    font-weight: 700;
    margin: 10px 0 10px 0;
    font-size: 20px;
  }
  .imgFooter{
    width: 500px;
    margin: 0;
  }
  /* footer*/