* {
  margin: 0;
  padding: 0;
}

/* Header*/

.tamanhoLogo {
  width: 246px;
  height: 105px;
}
.tamanhoIcons {
  width: 20px;
  height: 22px;
}
.conteinner1 {
  margin: 0 200px;
  display: flex;
  justify-content: space-evenly;
}
#subContainner2 {
  display: flex;
  align-items: center;
}
#subContainner2 form input {
  height: 40px;
  padding-left: 15px;
  width: 432px;
  border-radius: 5px;
  border: 1px solid #a8a8a8;
}

#subContainner3 {
  display: flex;
  align-items: center;
  width: 526px;
}

#subContainner3 nav {
  width: 526px;
  display: flex;
  justify-content: space-between;
}

#subContainner3 nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #436bbb;
}
#subContainner3 nav a img {
  margin-right: 12px;
  margin-left: 12px;
}
#search {
  margin-top: 9px;
  position: absolute;
  margin-left: -34px;
}
#containner2 {
  background-color: #f55145;
}
#containner2 ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0 200px;
  height: 52px;
  list-style: none;
  align-items: center;
}
#containner2 ul a {
  text-decoration: none;
  color: #ffffff;
}
#containner2 ul li:hover {
  text-decoration: underline;
}
#categorias {
  width: 198px;
  height: 34px;
  border-radius: 10px;
}
/* Header*/

/* main*/
main {
  margin: 0 200px;
  display: flex;
  margin-bottom: 100px;
  justify-content: center;
}
#menu {
  margin-top: 100px;
  align-items: center;
  width: 210px;
}
#menu ul li {
  list-style: none;
  width: 100%;
  line-height: 48px;
}
#menu ul li:hover {
  background: #e6e6e6;
}
#menu ul li a {
  width: 100%;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.icons-menu {
  width: 18px;
  height: 15px;
}
#menu ul li a img {
  margin-right: 12px;
}

/* main*/
#contentBox{
  margin-top: 100px;
}

#nameContent{
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: bold;
  padding: 0 0 20px 80px;
  color: #f55145;
}
#paymentStatusTable {
  display: block;
  margin: auto;
  padding: 40px 50px 60px 50px;
}
.headTable {
  width: 9vw;
  font-family: "Open Sans", sans-serif;
  color: #436bbb;
  padding-bottom: 30px;
}

.contentTable {
  width: 9vw;
  font-family: "Open Sans", sans-serif;
  color: #5e5e5e;
  font-weight: 700;
  padding-bottom: 50px;
  text-align: center;
}

#paymentMethod {
  width: 250px;
  padding-left: 15px;
}

.actionsTable {
  font-family: "Open-sans", sans-serif;
  width: 200px;
  background-color: #f55145;
  opacity: 1;
  border: 1px solid #f55145;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: white;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.actionsTable:hover {
  opacity: 1;
  background-color: #436bbb;
  border: 1px solid #436bbb;
}

/* main */

/* footer*/
footer {
  display: flex;
  justify-content: space-around;
  bottom: 0;

  width: 100%;
  border-top: 2px solid #747474;
  padding-top: 20px;
}
.colorBlue {
  color: #003471;
  font-family: "Inter", "sans-serif";
  font-weight: 700;
  margin: 0;
  font-size: 20px;
}
.colorRed {
  color: #f55145;
  font-family: "Inter", "sans-serif";
  font-weight: 400;
  margin: 10px 0 0 0;
  font-size: 20px;
}

.colorRed > h2 {
  font-family: "Inter", "sans-serif";
  font-weight: 900;
  margin: 0;
}

#thinBlue {
  font-weight: 400;
  margin: 0 0 10px 0;
}

#mediumBlue {
  font-weight: 700;
  margin: 10px 0 10px 0;
  font-size: 20px;
}
.imgFooter {
  width: 500px;
  margin: 0;
}
/* footer*/
