*{
  margin: 0;
  padding: 0;
}

/* Header*/

.tamanhoLogo{
  width: 246px;
  height: 105px;
}
.tamanhoIcons{
  width: 20px;
  height: 22px;
}
.conteinner1{
  margin: 0 200px;
  display: flex;
  justify-content: space-evenly;
}
#subContainner2{
  display: flex;
  align-items: center;
}
#subContainner2 form input{
  height: 40px;
  padding-left: 15px;
  width: 432px;
  border-radius: 5px;
  border: 1px solid #A8A8A8;
}

#subContainner3{
  display: flex;
  align-items: center;
  width: 526px;
}

#subContainner3 nav{
  width: 526px;
  display: flex;
  justify-content: space-between;
}

#subContainner3 nav a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #436BBB;
}
#subContainner3 nav a img{
  margin-right: 12px;
  margin-left: 12px;
}
#search{
  margin-top: 9px;
  position: absolute;
  margin-left: -34px;
}
#containner2{
  background-color: #F55145;
}
#containner2 ul{
  display: flex;
  justify-content: space-evenly;
  margin: 0 200px;
  height: 52px;
  list-style: none;
  align-items: center;
}
#containner2 ul a{
  text-decoration: none;
  color: #FFFFFF;
}
#containner2 ul li:hover{
  text-decoration: underline;
}
#categorias{
  width: 198px;
  height: 34px;
  border-radius: 10px;
}
/* Header*/

/*main*/
#compraFinal{
  width: 56%;
  margin-right: 35px;
}
#carrinhoCompras{
  margin: 0 200px;
  display: flex;
  margin-bottom: 100%;
  margin-top: 30px;
  justify-content: center;
}
#headerTb{
  border: 1px solid #b8babd;
  padding: 15px;
  border-radius: 5px 10px 0px 0px;
}
#headerTb ul{
  display: flex;
  justify-content: space-between;
}
#headerTb ul li{
  list-style: none;
}
.itemPedido{
  border: 1px  solid #b8babd;
  border-top: 0;
  height: 90px;
  border-bottom: 2px solid #b8babd;
}
.itemPedido ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.itemPedido ul li{
  list-style: none;
  display: flex;
  align-items: center;
}
.first{
  display: flex;
  width: 425px;
}
.first p{
  display: flex;
    align-items: center;
}
.two,.three,.for{
  width: 200px;
}
.three{
  display: flex;
}
.three div{
  background: #00000042;
    border-radius: 83px;
    margin-right: 5px;
    height: 21px;
    margin-left: 5px;
    width: 22px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.three button type="submit":hover{
  cursor: pointer;
}
.for{
  display: flex;
}
.two{
  display: flex;
}
#trash a img{
  width: 18px;
}
#subtotal{
  margin-left: 5px;
}
#qtd {
  width: 51px;
  border: 1px solid black;
  border-radius: 12px;
  height: 23px;
  text-align: center;
}
#ant,#pos{
  width: 10px;
}
#pos,#ant{
  background: #00000042;
  border-radius: 83px;
  margin-right: 5px;
  height: 16px;
  margin-left: 5px;
  width: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}

.icon{
  width: 40px;
  padding: 10px;
}

.botaoADDREMOVE{
  width: 10px;
  text-align: center;
}

.dropDownFinal{
  width: 15px;
}
#finalizarCompra{
  width: 384px;
}
#containnerPrinc{
  border: 1px solid #b8babd;
  border-radius: 10px;
  padding: 30px;
  padding-bottom: 0px;
}

.link{
  text-decoration: none;
}
.dropDesc{
  display: flex;
  justify-content: space-between;
  font-size: 14pt;
  color: #505050;
  font-weight: 700;
}
#frete div{
  margin: 20px 0;
}
#consultaCupom div{
  margin: 20px 0;
}
#consultaCupom a{
  margin: 20px 0;
}
#subTotal,#taxa{
  display: flex;
  justify-content: space-between;
}
#subTotal{
  margin-bottom: 10px;
}
#resumoDaCompra{
  margin: 20px 0;
}
#buscaCep{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#resumoDoPedido{
  margin: 20px 0;
  align-items: center;
}
#resumoDoPedido p{
  font-size: 15pt;
  font-weight: 700;
}
#consultaCupom div input{
  height: 35px;
  width: 121px;
}
#consultaCupom div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.caixaBotao{
  margin-left: 13px;
  width: 55%;
  display: flex;
  justify-content: center;
  background-color: #00376B;
  height: 39px;
  align-items: center;
  color: white;
}
.caixaBotao:hover{
  cursor: pointer;
}
#comprar{
  margin: auto;
  border-radius: 8px;
  margin-top: 20px;
  width: 81%;
}
#cep{
  height: 31px;
  width: 146px; 
}
.titleCard{
  margin: 0 200px;
  margin: 0 324px;
  margin-top: 80px;
  color: #587CB7 ;
}
#subTotal div{
  display: flex;
}
#totalPedido{
  display: flex;
  justify-content: space-between;
}
#totalPedido div{
  display: flex;
}
/*main*/

/* footer*/
footer{
  display: flex;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #747474;
  padding-top: 20px;
}
.colorBlue{
  color: #003471;
}
.colorRed{
  color:#F55145;
}
.imgFooter{
  width: 500px;
}

/* footer*/
