*{
  padding: 0;
  margin: 0;
}
/* Header*/

.tamanhoLogo{
  width: 246px;
  height: 105px;
}
.tamanhoIcons{
  width: 20px;
  height: 22px;
}
.conteinner1{
  margin: 0 200px;
  display: flex;
  justify-content: space-evenly;
}
#subContainner2{
  display: flex;
  align-items: center;
}
#subContainner2 form input{
  height: 40px;
  padding-left: 15px;
  width: 432px;
  border-radius: 5px;
  border: 1px solid #A8A8A8;
}

#subContainner3{
  display: flex;
  align-items: center;
  width: 526px;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 14px;
}

#subContainner3 nav{
  width: 526px;
  display: flex;
  justify-content: space-between;
}

#subContainner3 nav a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #436BBB;
}
#subContainner3 nav a img{
  margin-right: 12px;
  margin-left: 12px;
}
#search{
  margin-top: 9px;
  position: absolute;
  margin-left: -34px;
}
#containner2{
  background-color: #F55145;
}
#containner2 ul{
  display: flex;
  justify-content: space-evenly;
  margin: 0 200px;
  height: 52px;
  list-style: none;
  align-items: center;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 14px;
}
#containner2 ul a{
  text-decoration: none;
  color: #FFFFFF;
}
#categorias{
  width: 198px;
  height: 34px;
  border-radius: 10px;
}
/* Header*/

/* main*/

#carrousel {
  width: 90%;
  height: 75vh;
  max-height: 450px;
  position: relative;
  margin: auto;
  margin-top: 14px;

}

#moldura {
  width: 100%;
  height: 100%;
  background: rgb(126, 126, 126);
  background-size: cover;
  /*Ajustando o tamanho da imagem sem distorcer*/
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 1s;
}



.btns {
  position: absolute;
  width: 30px;
}

.btns:hover {
  cursor: pointer;
}

#pos,
#ant {
  top: 45%;
  right: 5px;
  width: 30px;
}

#ant {
  left: 5px;
  width: 30px;
}
#ant:hover{
  cursor: pointer;
}

#pos:hover{
  cursor: pointer;
}
#posVendidos{
  background-color: black;
  top: 94%;
  right: 128px;
  width: 30px;
}

.maisVendidos{
  margin: 0 94px;
  
}
#ultimosLançamentos{
  margin: 0 97px;
}
.title{
  margin-left: 97px;
  font-size: 25pt;
  font-weight: 100;

}
.produtosVendidos{
  display: flex;
  justify-content: space-evenly;
}
.produtosVendidos div a{
  text-decoration: none;
  color: black;
}
.produtosVendidos div a h3:hover{
  text-decoration: underline;
}
.produtosVendidos div{
  width: 290px;
  
  margin-top: 30px;
  margin-bottom: 50px;
}
.produtosVendidos div:hover{
  border: 1px solid rgba(167, 166, 166, 0.591);
  border-radius: 5px;
}
.produtosVendidos div a img{
  margin: auto;
    display: flex;
}
.produtosVendidos div h3,h2{
  margin: 20px;
}
.produtosVendidos div p{
  margin-left: 20px;
  margin-right: 20px;
}
.botaoCarrinho{
  margin: auto;
  height: 40px;
  width: 90%;
  background-color: red;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 17px;
  margin-top: 13px;
  color: white;
}

#cupom{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
/* main*/

/* footer*/
footer{
  display: flex;
  justify-content: space-around;
  bottom: 0;

  width: 100%;
  border-top: 2px solid #747474;
  padding-top: 20px;
}
.colorBlue{
  color: #003471;
  font-family: 'Inter', 'sans-serif';
  font-weight: 700;
  margin: 0;
  font-size: 20px
}
.colorRed{
  color:#F55145;
  font-family: 'Inter', 'sans-serif';
  font-weight: 400;
  margin: 10px 0 0 0;
  font-size: 20px
}

.colorRed > h2{
  font-family: 'Inter', 'sans-serif';
  font-weight: 900;
  margin: 0;
}

#thinBlue{
  font-weight: 400;
  margin: 0 0 10px 0;
}

#mediumBlue{
  font-weight: 700;
  margin: 10px 0 10px 0;
  font-size: 20px;
}
.imgFooter{
  width: 500px;
  margin: 0;
}
/* footer*/
