/*
    CSS BASE
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
    CSS BASE
*/

/*
    HEADER PAGE
*/
#headerAdmin {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #a8a8a8;
  height: 117px;
}

#headerLogo {
  width: 286px;
  height: 116px;
  margin-right: 43px;
}

#labelHeader {
  font-size: 30px;
  line-height: 41px;
  font-family: "Open Sans", sans-serif;
  color: #eb573d;
  padding-top: 39px;
}
/*
    HEADER PAGE
*/
main {
  display: flex;
}
/*Section SideBar*/
#sideBar {
  margin-top: 94px;
}

.sidebarItems {
  margin: 0 0 20px 230px;
  width: 310px;
  background: rgba(185, 185, 185, 0.2);
  padding: 10px 0px 0px 20px;
  border-radius: 10px;
  list-style: none;
}

.sidebarItems:hover {
  background-color: rgba(245, 81, 69, 0.11);
  cursor: pointer;
}

.sidebarItems:hover a {
  color: #f55145;
}

.sidebarItems > a {
  font-family: "Open Sans", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  display: flex;
}

.sidebarItems > a > p {
  margin: 5px 0 0 25px;
}

.logoItems {
  color: #a8a8a8;
  width: 35px;
  height: 35px;
}

.logoItems:hover {
  color: rgba(245, 81, 69, 0.11);
  cursor: pointer;
}

#opcaoEscolhida {
  background-color: rgba(245, 81, 69, 0.11);
  cursor: pointer;
}

#opcaoEscolhida > a {
  color: #f55145;
}
/*Section SideBar*/

/*Box Content*/
#contentPage {
  margin: 94px 0px 0px 50px;
  width: 1083px;
  height: 689px;
  background-color: #f7f7f7;
  border-radius: 15px;
  justify-content: center;
}

#nameContent {
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 61px;
  text-align: center;
  padding: 72px 0 65px 0;
}
/*Table Content*/
#paymentStatusTable {
  display: block;
  margin: auto;
  padding: 40px 50px 60px 50px;
}
.headTable {
  width: 9vw;
  font-family: "Open Sans", sans-serif;
  color: #436bbb;
  padding-bottom: 30px;
}

.contentTable {
  width: 9vw;
  font-family: "Open Sans", sans-serif;
  color: #5e5e5e;
  font-weight: 700;
  padding-bottom: 50px;
  text-align: center;
}

#paymentMethod {
  width: 250px;
  padding-left: 15px;
}

.actionsTable {
  font-family: "Open-sans", sans-serif;
  width: 200px;
  background-color: #f55145;
  opacity: 1;
  border: 1px solid #f55145;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: white;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.actionsTable:hover {
  opacity: 1;
  background-color : #436bbb;
  border: 1px solid #436bbb;
}

/*Table Content*/
/*Box Content*/
